<h1>Meal Tracker</h1>
<p>
  My kids complain that I make the same dinners over and over so my idea was to
  have a simple way to keep track how long it's been since the last time I made
  meatloaf or whatever it is they are tired of eating.
</p>
